.footer-container {
    width: 100%;
}

footer {
    background-color: #555;
    color: #fff;
    padding: 40px;
}

footer .text-container {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.company-text {
    margin-right: 20px;
}

.company-text a {
    color: #fff;
}

.footer-separator {
    margin: 0 5px;
}

.footer-instagram {
    background: url(/assets/images/footer-instagram.svg);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 767px) {
    .footer-instagram {
        height: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .footer-instagram {
        width: 30px;
    }
}