* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', regular;
}

.no-bullets {
    list-style: none !important;
}

@media only screen and (min-width: 768px) {
    .show-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .hide-mobile {
        display: none !important;
    }
}

.hide {
    display: none;
}

a {
    text-decoration: none;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.pt-20 {
    padding-top: 20px !important;
}