header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #3DC9BC;
    padding: 20px;
}

img {
    width: 90px;
    height: 40px;
}

.nav-container ul {
    display: flex;
    padding-top: 10px;
    letter-spacing: 2px;
}

.nav-container ul li {
    margin-right: 30px;
}

.nav-container ul li:last-child {
    margin-right: 0px;
}

.nav-container ul a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.nav-container ul a:hover {
    color: #4374B1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}