.services-hero-container {
    width: 100%;
    height: 100%;
}

.services-hero-image-container h1 {
    font-family: 'Lato', regular;
    font-size: 40px;
    color: #555;
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    .services-hero-image-container h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }
}

.services-hero-image-container .secondary-text {
    font-family: 'Lato', regular;
    width: 780px;
    color: #555;
    text-align: center;
    line-height: 24px;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .services-hero-image-container .secondary-text {
        line-height: 22px;
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 767px) {
    .services-hero-image-container .secondary-text {
        font-size: 16px;
    }
}