.services-hero-container {
    width: 100%;
    height: 100%;
}

.services-hero-image-container {
    background: url(/assets/images/services-hero.jpeg);
    width: 100%;
    height: 300px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.services-hero-image-container h1 {
    font-family: 'Lato', regular;
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.services-hero-image-container .secondary-text {
    font-family: 'Lato', regular;
    width: 780px;
    color: #fff;
    text-align: center;
    font-style: italic;
    line-height: 24px;
    margin: auto;
}