.services-info-container {
    width: 100%;
    height: 100%;
}

.services-flex-container {
    display: flex;
    margin: 0px 50px;
}

.service-info-container {
    padding: 20px;
}

.services-wrapper {
    margin-right: 50px;
    width: calc(33% - 50px);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.services-wrapper:last-child {
    margin-right: 0px;
    width: 33%;
}

.services-wrapper .service-icon-wrapper {
    background-color: #4374B1;
    height: 50px;
}

.services-wrapper .service-image {
    width: 50px;
    height: 63px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    margin: auto;
    /* border-radius: 5px; */
}

.services-wrapper .service-image.individual {
    background: url(/assets/images/individual-icon.svg);
}

.services-wrapper .service-image.package-one {
    background: url(/assets/images/package-one-icon.svg);
}

.services-wrapper .service-image.package-two {
    background: url(/assets/images/package-two-icon.svg);
}

.services-wrapper .service-image.package-three {
    background: url(/assets/images/package-three-icon.svg);
}

.services-wrapper .service-info-container h2 {
    font-family: 'Lato', regular;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services-wrapper .service-info-container .session-count-text {
    color: #3DC9BC;
}

.services-wrapper .service-info-container .service-info-list {
    color: #555;
    line-height: 32px;
}

.services-wrapper .service-info-container .service-info-list span {
    font-style: italic;
}

.services-wrapper .service-info-container p {
    color: #555;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.learn-more-button-container {
    width: 330px;
    margin: 100px auto;
}

.learn-more-button-container a {
    font-family: 'Lato', regular;
    color: #fff;
    background-color: #4374B1;
    padding: 20px 50px;
    border-radius: 35px;
    text-transform: uppercase;
}

.learn-more-button-container a:hover {
    opacity: 0.9;
}