.team-hero-container {
    width: 100%;
    height: 100%;
    padding-top: 82px;
}

.team-hero-image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),
                url(/assets/images/team-hero.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

@media only screen and (max-width: 1550px) {
    .team-hero-image-container {
        height: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .team-hero-image-container {
        height: 400px;
    }
}

@media only screen and (max-width: 900px) {
    .team-hero-image-container {
        height: 350px;
    }
}

@media only screen and (max-width: 820px) {
    .team-hero-image-container {
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .team-hero-image-container {
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .team-hero-image-container {
        height: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .team-hero-image-container {
        height: 170px;
    }
}

@media only screen and (max-width: 390px) {
    .team-hero-image-container {
        height: 150px;
    }
}

@media only screen and (max-width: 350px) {
    .team-hero-image-container {
        height: 130px;
    }
}

@media only screen and (max-width: 767px) {
    .about-team-container {
        margin-left: 20px !important;
        margin-top: 20px !important;
    }
}

.about-team-container h1 {
    color: #3DC9BC;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .about-team-container h1 {
        display: none;
    }
}

.about-team-container .secondary-text {
    color: #555;
    font-size: 22px;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    .about-team-container .secondary-text {
        font-size: 18px;
        margin-top: 10px !important;
    }
}