.form-content-container {
    width: 660px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 2px;
    top: 330px;
    left: calc(50% - 330px);
    padding: 50px;
    height: 500px;
}

@media only screen and (max-width: 767px) {
    .form-content-container {
        width: 100%;
        position: initial;
        top: 380px;
        left: 0;
        padding: 20px;
        height: auto;
    }
}

.flex-input-container {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .flex-input-container {
        display: initial;
    }
}

.name-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .name-input {
        width: 100%;
        margin-bottom: 20px;
    }
}

.first-name-input, .age-input {
    margin-right: 50px;
}

.message-input {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .message-input {
        margin-top: 20px !important;
    }
}

label {
    text-transform: uppercase;
    font-family: 'Lato', regular;
    letter-spacing: 1px;
    color: #555;
}

input {
    padding: 15px;
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    input {
        padding: 10px;
    }
}

.error { 
    color: red;
}

.submit-input {
    width: 250px;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    .submit-input {
        margin-bottom: 20px !important;
    }
}

.submit-input input {
    background-color: #4374B1;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.submit-input input:hover {
    cursor: pointer;
    opacity: 0.9;
}

