.contact-hero-container {
    width: 100%;
    height: 100%;
    padding-top: 82px;
}

.contact-hero-image-container .subtitle-text-above {
    font-family: 'Lato', regular;
    font-size: 15px;
    color: #4374B1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contact-hero-image-container h1 {
    font-family: 'Lato', regular;
    font-size: 35px;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media only screen and (max-width: 767px) {
    .contact-hero-image-container h1 {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 35px;
    }
}

.contact-hero-image-container .secondary-text {
    font-family: 'Lato', regular;
    color: #555;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
    .contact-hero-image-container .secondary-text {
       margin: 0px 20px;
    }
}

.contact-hero-image-container .inline-secondary-text {
    color: #4374B1;
}

.form-background-container {
    background-color: #4374B1;
    background-image: -webkit-linear-gradient(30deg, #f1f3f4 50%, #cff1ef 50%);
    min-height: 600px;
  }