.home-hero-container {
    width: 100%;
    height: auto;
    padding-top: 82px;
}

.hero-image-container {
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.hero-image-container h1 {
    font-family: 'Lato', regular;
    font-size: 35px;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 50px;
}

.hero-image-container .secondary-text {
    font-family: 'Lato', regular;
    color: #555;
    text-align: center;

    letter-spacing: 1px;
}

.hero-image-container .subtitle {
    font-size: 20px;
}

.hero-image-container .secondary-text.learn-more a {
    font-family: 'Lato', regular;
    color: #4374B1;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}

.hero-image-container .secondary-text.learn-more a:hover {
    opacity: 0.9;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}