.home-mission-container {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
    .home-mission-container {
        height: auto;
    }
}

.mission-container {
    width: 100%;
    height: 100%;
}

.mission-container .text-container {
    font-family: 'Lato', regular;
    width: 660px;
    position: absolute;
    left: calc(50% - 330px);
    z-index: 8;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 50px;
    height: 280px;
    margin-top: 110px;
}

@media only screen and (max-width: 767px) {
    .mission-container .text-container {
        left: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
        margin-top: 0px;
        padding: 20px;
        top: 410px;
    }
}

.mission-container .text-container h2 {
    color: #3DC9BC;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.mission-container .text-container p {
    color: #555;
    font-weight: 300;
    line-height: 24px;
}

.mission-container .text-container p span {
    color: #4374B1;
    font-style: italic;
}

.mission-container .image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),
                url(/assets/images/home-mission.jpeg);
    width: 100%;
    height: 500px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}